.main-contained-btn {
  border: none;
  font-family: 'Inter', sans-serif;
  border-radius: 10px;
  background: $primary-color;
  color: $white-color;
  font-size: 15px;
  font-weight: 600;
  padding: 20px 0;
  width: 100%;
}